{% extends "base.html" %}
{% block content %}
   <div class="container py-2">
    {# Flash messages #}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="row justify-content-center">
        <div class="col-md-6">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}
  <div class="row mb-3">
    <div class="col-12 col-md-8 offset-md-2">
      <form class="d-flex" role="search">
        <div class="input-group w-100">
          <span class="input-group-text" id="basic-addon1">🔍</span>
          <input type="search" class="form-control" placeholder="Search Item Name..." aria-label="Search" aria-describedby="basic-addon1"/>
        </div>
      </form>
    </div>
  </div>
        
 <div class="accordion" id="accordionExample">
  {% for category in categories %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ loop.index }}">
      <div class="d-flex w-100 align-items-center">
    <button class="accordion-button collapsed flex-grow-1 text-start" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{ loop.index }}"
            aria-expanded="false"
            aria-controls="collapse{{ loop.index }}">
      {{ category.name }}
    </button>

    <a class="btn btn-sm ms-2"
       href="{{ url_for('category.update_category', category_id=category.id) }}"
       onclick="event.stopPropagation();">
      ✏
    </a>
  </div>
    </h2>

    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
      <div class="accordion-body p-0">
        {% for item in category.sorted_items %}
         <div class="item-row1 d-flex">
    <div class="item-name text-truncate" title="{{ item.name }}">{{ item.name }}</div>
</div>
<div class="item-row2 d-flex">
    <div class="item-date text-muted text-center">
        <strong>{{ item.date.strftime('%Y-%m-%d') if item.date else '' }}</strong>
    </div>
    
    <div class="item-qty text-muted text-center">
        <strong>Qty: {{ item.quantity }}</strong>
    </div>

    <div class="item-actions text-end">
      <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('items.update_item', item_id=item.id) }}">Update</a>
    </div>


  </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}